<!DOCTYPE html>
<html>

<head>
  <title> Meals</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script type="text/javascript" src="../javascripts/common.js"></script>

</head>

<body>
  <%- include('./partials/navbar.ejs', {user: user}) %>
    <div class="container-fluid mt-5">
      <h2 class="p-3 text-center">Animals for Adoption</h2>
      <div class="list-group">
        <div class="row px-3 py-1 w-100">
          <span class="col py-1 bg-noroff">Id</span>
          <span class="col py-1 bg-noroff">Name</span>
          <span class="col py-1 bg-noroff">Type</span>
          <span class="col py-1 bg-noroff">Calories</span>
          <span class="col py-1 bg-noroff">Protein</span>
        </div>
        <% meals.forEach(function(meal) { %>
          <div class="row px-3 py-1 w-100">
            <span class="col py-1 bg-light ">
              <%=meal.id%>
            </span>
            <span class="col py-1 bg-light">
              <%=meal.Name%>
            </span>
            <span class="col py-1 bg-light">
              <%=meal.Type%>
            </span>
            <span class="col py-1 bg-light">
              <%=meal.Calories%>
            </span>
            <span class="col py-1 bg-light">
              <%=meal.Protein%>
            </span>
            
            <%})%>
          </div>
       
      
           
      </div>
    </div>
    
</body>

</html>